apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "homelab.fullname" . }}
  labels:
    {{- include "homelab.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "homelab.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "homelab.selectorLabels" . | nindent 8 }}
    spec:
      initContainers:
      - name: blog-generator
        image: "{{ .Values.initContainer.repository }}:{{ .Values.initContainer.tag }}"
        imagePullPolicy: {{ .Values.initContainer.pullPolicy }}
        volumeMounts:
        - name: html-content
          mountPath: /output
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /
            port: http
        readinessProbe:
          httpGet:
            path: /
            port: http
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        volumeMounts:
        - name: html-content
          mountPath: /usr/share/nginx/html
          readOnly: true
      volumes:
      - name: html-content
        emptyDir: {}
